{# Rows #}
{% block form_row %}
    {% spaceless %}
        <div class='form-group {{ errors|length > 0 ? 'has-error' : '' }}'>
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}


{# Errors #}
{%- block form_errors -%}
{%- if errors|length > 0 -%}
<ul class='help-block'>
    {%- for error in errors -%}
    <li>{{ error.message }}</li>
        {%- endfor -%}
</ul>
{%- endif -%}
{%- endblock form_errors -%}


{# Widgets #}
{% block form_widget_simple %}
{% spaceless %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ 'form-control')|trim }) %}
    {% set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}


{# Labels #}
{%- block form_label -%}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ 'control-label')|trim }) %}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
    {%- endif -%}
{%- endblock form_label -%}
